1.Semester/AIS/Vaje/naloga3-Oddaja/Client/Client/Connected Services/Povezava/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/simunovic_marko_WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/simunovic_marko_WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Uporabnik">
    <xs:sequence>
      <xs:element minOccurs="0" name="Admin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Geslo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UporabniskoIme" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Uporabnik" nillable="true" type="tns:Uporabnik" />
  <xs:complexType name="Atlet">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatumRojstva" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priimek" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Atlet" nillable="true" type="tns:Atlet" />
  <xs:complexType name="Tekmovanje">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatumTekmovanja" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Kraj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Naziv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tekmovanje" nillable="true" type="tns:Tekmovanje" />
  <xs:complexType name="AtletTekmovanje">
    <xs:sequence>
      <xs:element minOccurs="0" name="Atlet" nillable="true" type="tns:Atlet" />
      <xs:element minOccurs="0" name="Rezultat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tekmovanje" nillable="true" type="tns:Tekmovanje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AtletTekmovanje" nillable="true" type="tns:AtletTekmovanje" />
  <xs:complexType name="ArrayOfAtlet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Atlet" nillable="true" type="tns:Atlet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAtlet" nillable="true" type="tns:ArrayOfAtlet" />
  <xs:complexType name="ArrayOfTekmovanje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tekmovanje" nillable="true" type="tns:Tekmovanje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTekmovanje" nillable="true" type="tns:ArrayOfTekmovanje" />
</xs:schema>